{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">

    <!-- Navbar nampidirina -->
    {{ include('journalist/layout/nav-bar.html.twig') }}

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-lime mt-3">
                            <div class="card-header">
                                <h2 class="card-title">Ajouter une commentaire</h2>
                            </div>
                            
                            <!-- form start -->
                            {{ form_start(form_comment) }}
                            <div class="card-body">
                                {{form_widget(form_comment)}}
                            </div>
                            

                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Envoyer</button>
                            </div>
                            {{form_end(form_comment)}}
                        </div>


                    </div>
                </div>
            </div>
        </section>
   
<script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script>

<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


<script src="{{ asset('assets/dist/js/adminlte.js') }}"></script>

<script src="{{ asset('assets/dist/js/demo.js') }}"></script>

<script src="{{ asset('assets/dist/js/pages/dashboard.js') }}"></script>

</body>
</html>
