{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">


<!-- Navbar nampidirina -->
{{ include('journalist/layout/nav-bar.html.twig') }}

  
    <section class="content">
      <div class="container-fluid">

         <div class="card card-pink mt-3">
              <div class="card-header">
                <h3 class="card-title">Liste des articles</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="post" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>Titre</th>                      
                        <th>Catégorie</th>
                        <th>Posteur</th>
                        <th>Date de création</th>
                        <th>Actions</th>
                      </tr>
                  </thead>
                      <tbody>


                  {% for post in posts %}
                    <tr>
                          <td>{{post.postTitle}}</td>
                          <td>
                          {% set postCategory = post.categories.getSnapshot %}
                          {% set j = -1 %}
                          {% for category in  postCategory %}
                            {% set j = j + 1 %}
                            {{ category.categoryTitle }}<br>
                          {% endfor %}
                        </td>
                          <td>{{post.User.UserName}}</td>
                          <td>{{post.postCreatedAt|date}}</td>
                          <td>
                              <div class="btn-group ml-5">
                               
                                    <a href="{{ path('update_post_journalist',{'id': post.id})}}" class="btn btn-info"><span class="fas fa-edit"></span></a>
                                    <a href="{{ path('readCommentJournalist', {'id': post.id}) }}" class="btn btn-secondary"><span class="fas fa-comment"></span></a>
                                    <!-- <a href="#" onclick="event.preventDefault();confirm('Etes vous sur de supprimer cette article') && document.getElementById('js-id-delete').submit();" class="btn btn-danger"><span class="fas fa-trash"></span></a> -->

                                    <!-- <form id="js-id-delete" action="{{ path('delete_post', {'id': post.id}) }}" method="post" style="display:none">
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token('post_delete' ~ post.id) }}">
                                      <input type="hidden" name="_method" value="DELETE">
                                      
                                    </form> -->
                                
                              </div>
                          </td>
                    </tr>
                  {% endfor %}
                            
                      
                      </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>     
      </div>
    </section>
<script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('assets/plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('assets/plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script>
  $(function () {
    $("#post").DataTable({
      "responsive": true, "lengthChange": false, "ordering": true, "autoWidth": false,
      "buttons": ["csv", "excel", "pdf"]
    }).buttons().container().appendTo('#post_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

</body>
</html>
