{{ include('publique/layout/header.html.twig') }}
<link rel="stylesheet" href="{{ asset('assets/dist/css/adminlte.min.css') }}">
<body class="home blog custom-background wp-custom-logo wp-embed-responsive hfeed ct-full-layout ct-sticky-sidebar right-sidebar" itemtype="https://schema.org/Blog" itemscope>
	<div id="page" class="site">
		<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
		{{ include('publique/layout/header2.html.twig') }}
		<div id="content" class="site-content">
			<div class="container-inner ct-container-main clearfix">
				<div class="front-page-content-wrapper">
					<div id="primary" class="content-area">
						<main id="main" class="site-main">
							
<div>
<div class="row">
								<div class="col-lg-5">
			<h1>Missions</h1>
      <br>
      <p></p>
  <div class="container">
		<div id="carousel">
			<figure><img src="{{ asset('images/1.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/2.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/3.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/4.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/5.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/6.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/7.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/8.png') }}" alt=""></figure>
			<figure><img src="{{ asset('images/9.png') }}" alt=""></figure>
		</div>
	</div>
								</div>
								<div class="col-lg-7">
                                <h1>Objectifs
                                </h1>
                               <p>ONG &quot;NEWLIFE&quot;, une organisation non gouvernementale passionnée par la création d&#39;un
avenir meilleur pour les enfants en Afrique. Fondée sur des valeurs profondes d&#39;amour, de
compassion et de dévouement, notre ONG s&#39;efforce d&#39;apporter des changements significatifs
dans la vie des enfants vulnérables à travers le continent.la lutte contre le cancer infantile.</p>
                              <br>
                               <a href="" class="btn btn-warning" style="color:black;">Faire un don</a>
                                </div>
							</div>
 <div class="heateorSssClear"></div>
                                            <div class="heateor_sss_sharing_container heateor_sss_horizontal_sharing" data-heateor-sss-href="https://gate-news.com/index.php/2021/12/10/de-beers-sinteresse-au-secteur-reforme-de-lextraction-de-diamants-en-angola/">
                                                <div class="heateor_sss_sharing_title" style="font-weight:bold">Rejoignez ONG NEW LIFE:</div>
                                                <div class="heateor_sss_sharing_ul">
                                                    <a class="heateor_sss_facebook" href="https://www.facebook.com/profile.php?id=100095252312910" title="Facebook" rel="nofollow noopener" target="_blank" style="font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle">
                                                        <span class="heateor_sss_svg" style="background-color:#3c589a;width:35px;height:35px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box">
                                                            <svg style="display:block;border-radius:999px;" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="-5 -5 42 42">
                                                                <path d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z" fill="#fff">

                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </a>

                                                    <a class="heateor_sss_button_twitter" href="" target="_blank" style="font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle"><span class="heateor_sss_svg heateor_sss_s__default heateor_sss_s_twitter" style="background-color:#55acee;width:35px;height:35px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box"><svg style="display:block;border-radius:999px;" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="-4 -4 39 39"><path d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z" fill="#fff"></path></svg></span></a>

                                                    <a class="heateor_sss_button_linkedin" href="" title="LinkedIn" rel="nofollow noopener" target="_blank" style="font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle"><span class="heateor_sss_svg heateor_sss_s__default heateor_sss_s_linkedin" style="background-color:#0077b5;width:35px;height:35px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box"><svg style="display:block;border-radius:999px;" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32"><path d="M6.227 12.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43 2.43 0 0 1 0 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187V12.61z" fill="#fff"></path></svg></span></a>
                                                    </div></div>
</div>
						</main>
					</div>
					{{ include('publique/layout/aside-bar.html.twig') }}
				</div>
			</div>
		</div>
		{# {{ include('publique/layout/footer.html.twig') }} #}
		<a id="toTop" class="go-to-top" href="#" title="Go to Top">
			<i class="fa fa-angle-double-up"></i>
		</a>
	</div>
	<div
		style="position:fixed;top:10px;right:8%;z-index:999999;" id="gtranslate_wrapper">
		{# <span class="gsatelites"></span>
		        <span class="gglobe"></span> #}
		{{ include('publique/layout/js-code.html.twig') }}
	</div>
</body></html>
<style>
@import url(https://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
	box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;
}
/* html,
body{
	min-height: 100%;
}
body{
	background-image: radial-gradient(mintcream 0%, lightgray 10%);
}
h1{
	display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-shadow: 0 1px white, 0 2px black;
} */
.container{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: yellow;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	/* -webkit-filter: grayscale(1); */
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	/* -webkit-filter: grayscale(0); */
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
</style>