{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   

    <section class="content">
      <div class="container-fluid">

        <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Commentaires</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('list_post') }}">Listes des articles</a></li>
              <li class="breadcrumb-item active">Admin</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

         <div class="card card-pink mt-3">
              <div class="card-header">
                <h3 class="card-title">Liste des commentaires non approuvé</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="post" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>Article</th>
                        <th>Utilisateur</th>                      
                        <th>Commentaire</th>
                        <th>Actions</th>
                      </tr>
                  </thead>
                      <tbody>


                 {% for comment in comments %}
                    <tr>
                          <td>{{comment.post.postTitle}}</td>
                          <td>{{comment.user.UserName}}</td>
                          <td>{{comment.postCommentContent}}</td>
                          
                         
                          <td>
                              <div class="btn-group ml-5">
                               
                                    <a href="{{ path('updateAction',{'id': comment.id})}}" class="btn btn-info"><span class="fas fa-edit"></span></a>
                                    <a href="{{ path('approuved_comment',{'id': comment.id}) }}" title="approuvé" class="btn btn-success"><span class="fas fa-check"></span></a>
                                  <a href="#" onclick="event.preventDefault();confirm('Etes vous sur de supprimer cette commentaire') && document.getElementById('js-id-delete').submit();" class="btn btn-danger"><span class="fas fa-trash"></span></a>

                                  <form id="js-id-delete" action="{{ path('deleteComment', {id: comment.id}) }}" style="display:none" method="POST">

                                      <input type="hidden" name="csrf_token" value="{{ csrf_token('comment_delete') }}">
                                  </form>
                              </div>
                          </td>
                    </tr>
                {% endfor %}  
                            
                      
                      </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>     
      </div>
    </section>
 
  </div>
<script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script>

<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>

<script src="{{ asset('assets/plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>



<script src="{{ asset('assets/dist/js/adminlte.js') }}"></script>

<script src="{{ asset('assets/dist/js/demo.js') }}"></script>

<script src="{{ asset('assets/dist/js/pages/dashboard.js') }}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#post").DataTable({
      "responsive": true, "lengthChange": false,  "autoWidth": false
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</div>
</body>
</html>
