{% set menu_category        = true %}
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
{{ include('admin/layout/nav-bar.html.twig') }}

    <!-- Main Sidebar Container -->
{{ include('admin/layout/aside-bar.html.twig') }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Categorie</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('category') }}">Créer une categorie</a></li>
                            <li class="breadcrumb-item active">Categorie-liste</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- /.card -->
    {% if msg !=null %}
        <div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h5><i class="icon fas fa-check"></i>Succès</h5>                
                    {{ msg }}                 
        </div>
      {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <h2>Catégorie</h2>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <table id="post" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for requete in data %}
                                    <tr>
                                        <td>{{ requete.getCategoryTitle }}</td>
                                        <td>{{ requete.getCategoryDescription }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <!-- <form method="POST">
                                                    <input type="hidden" name="id" value="#">
                                                    <a href="{{ path('daleteCategory',{id: requete.id}) }}" class="btn btn-danger toastrDefaultSuccess"><i class="fas fa-trash"></i></a>
                                                </form> -->
                                                <a href="{{path('updateCategory',{id:requete.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                    
                                </table>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{{ include('admin/layout/footer.html.twig') }}
    <script>
        $(function () {
            $("#post").DataTable({
                "responsive": true, "lengthChange": false, "ordering": false, "autoWidth": false,
                "buttons": ["csv", "excel", "pdf"]
            }).buttons().container().appendTo('#post_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</div>
</body>
</html>

