<aside id="secondary" class="widget-area" itemtype="https://schema.org/WPSideBar" itemscope>
	<div class="ct-sidebar-wrapper">
		<div class="sidebar-widget-container">
			<section id="text-3" class="widget widget_text">
				<h2 class="widget-title">Articles récents</h2>
				<div class="textwidget">
					{{ render(controller(
						'App\\Controller\\BlogController::recentPost'
					)) }}
				</div>
			</section>
		</div>
		<div class="widget_text sidebar-widget-container">
			<section id="custom_html-7" class="widget widget_media_image">
				<div class="textwidget custom-html-widget">
					<div class="map" id="map">
						<h2 class="widget-title">Choisir votre pays</h2>
						<div class="map__image">
							{% include "publique/layout/africa-svg..html.twig" %}

						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="sidebar-widget-container">
			<section id="text-3" class="widget widget_text">
				<h2 class="widget-title">Publicité</h2>
				<div class="sidebar-widget-container">
			<section id="media_image-4" class="widget widget_media_image">
				<h2 class="widget-title">découvrez des opportunités d'affaires en Afrique avec</h2>
				<a href="" class="businesslink" rel="discover business opportunities in Africa">
					<img width="300" height="62" src="{{ asset('images/gateAFRI.jpg') }}" class="image wp-image-381 business attachment-medium size-medium" alt="" loading="lazy" style="max-width: 100%; height: auto;" title="discover business opportunities in Africa with" srcset="{{ asset('images/gateAFRI.jpg 300w') }}, {{ asset('images/gateAFRI.jpg 1024w') }}, {{ asset('images/gateAFRI.jpg 768w') }}, {{ asset('images/gateAFRI.jpg 1536w') }}, {{ asset('images/gateAFRI.jpg 2048w') }}, asset('images/gateAFRI.jpg 1170w') }}" sizes="(max-width: 300px) 100vw, 300px"/>
				</a>
			</section>
		</div>
				<div class="textwidget">
					<p style="font-weight: 400;">Découvrez des musiques africaines,avec Afrimuz </p>
				</div>
			</section>
		</div>
		<div class="sidebar-widget-container">
			<section id="media_image-8" class="widget widget_media_image">
				<a href="https://www.afrimuz.com/">
					<img width="2048" height="1536" src="{{ asset('images/afrimuz-01-64db0d83eac5c426385099.jpg') }}" class="image wp-image-4229  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" srcset="{{ asset('images/afrimuz-01-64db0d83eac5c426385099.jpg 2048w') }}, {{ asset('images/afrimuz-01-64db0d83eac5c426385099.jpg 300w') }}, {{ asset('images/afrimuz-01-64db0d83eac5c426385099.jpg 1024w') }}, {{ asset('images/afrimuz-01-64db0d83eac5c426385099.jpg 768w') }}, {{ asset('images/afrimuz-01-64db0d83eac5c426385099.jpg 1536w') }}, {{ asset('images/afrimuz-01-64db0d83eac5c426385099.jpg 1170w') }}" sizes="(max-width: 2048px) 100vw, 2048px"/>
				</a>
			</section>
		</div>
		
		<div class="sidebar-widget-container">
			{# <section id="media_image-1" class="widget widget_media_image">
				<h2 class="widget-title">Plan your business trip to Africa now</h2>
				<a href="http://africabusinesstour.com" class="travellink" rel="Plan your business trip to Africa now">
					<img width="8000" height="4501" src="{{ asset('front/images/africa-busness-02-02-1.png') }}" class="image wp-image-380 travel attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" title="Plan your business trip to Africa now" srcset="{{ asset('front/images/africa-busness-02-02-1.png 8000w') }}, {{ asset('front/images/africa-busness-02-02-1-300x169.png 300w') }}, {{ asset('front/images/africa-busness-02-02-1-1024x576.png 1024w') }}, {{ asset('front/images/africa-busness-02-02-1-768x432.png 768w') }}, {{ asset('front/images/africa-busness-02-02-1-1536x864.png 1536w') }}, {{ asset('front/images/africa-busness-02-02-1-2048x1152.png 2048w') }}, {{ asset('front/images/africa-busness-02-02-1-1170x658.png 1170w') }}" sizes="(max-width: 8000px) 100vw, 8000px"/>
				</a>
			</section> #}
		</div>
	</div>
</aside>


{% block stylesheet %}
	<style type="text/css">
		.map {
			border-radius: 8px;
			padding: 12px;
			margin: auto;
			box-shadow: 0.5px 0.5px 2px 0.5px;
		}
		path {
			fill: #f2f2f2 !important;
			stroke: "black";
			stroke-width: 2px;
			transition: fill 0.3s;
		}
		path:hover {
			fill: rgb(3, 154, 208) !important;
		}
	</style>

{% endblock %}


{% block javascript %}
	<script>
		var map = document.querySelector('#map');
var paths = map.querySelectorAll(".map__image a");

const slugify_city = (text) => {
return text.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-');
};

paths.forEach((path) => {
path.addEventListener("click", function (e) {
e.preventDefault();
document.location = "/category/" + slugify_city(e.target.getAttribute('data-name'));
}, false);
});
	</script>
{% endblock %}

{#
<aside id="secondary" class="widget-area" itemtype="https://schema.org/WPSideBar" itemscope>
	<div class="ct-sidebar-wrapper">
		<div class="sidebar-widget-container">
			<section id="text-3" class="widget widget_text">
				<h2 class="widget-title">Publicité</h2>
				<div class="textwidget">
					<p style="font-weight: 400;">Où que vous soyez, en Afrique ou dans le monde, passez à l&rsquo;étape suivante de votre carrière sans vous déplacer. Grâce à l’Université E-Media 100% en ligne, décrochez un diplôme prestigieux de LICENCE ou de MASTER. Bénéficiez d&rsquo;une plus grande souplesse dans l&rsquo;accomplissement de vos études et suivez des cours tout en travaillant à temps plein.</p>
					<p style="font-weight: 400;">Inscrivez-vous dès maintenant, et rejoignez une université à dimension internationale</p>
				</div>
			</section>
		</div>
		<div class="sidebar-widget-container">
			<section id="media_image-8" class="widget widget_media_image">
				<a href="http://e-media-madagascar.com">
					<img width="2048" height="1536" src="{{ asset('front/images/191265314_1589411194590680_724942096018861904_n.jpg') }}" class="image wp-image-4229  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" srcset="{{ asset('front/images/191265314_1589411194590680_724942096018861904_n.jpg 2048w') }}, {{ asset('front/images/191265314_1589411194590680_724942096018861904_n-300x225.jpg 300w') }}, {{ asset('front/images/191265314_1589411194590680_724942096018861904_n-1024x768.jpg 1024w') }}, {{ asset('front/images/191265314_1589411194590680_724942096018861904_n-768x576.jpg 768w') }}, {{ asset('front/images/191265314_1589411194590680_724942096018861904_n-1536x1152.jpg 1536w') }}, {{ asset('front/images/191265314_1589411194590680_724942096018861904_n-1170x878.jpg 1170w') }}" sizes="(max-width: 2048px) 100vw, 2048px"/>
				</a>
			</section>
		</div>
		<div class="sidebar-widget-container">
			<section id="media_image-4" class="widget widget_media_image">
				<h2 class="widget-title">discover business opportunities in Africa with</h2>
				<a href="http://gateofafrica.com" class="businesslink" rel="discover business opportunities in Africa">
					<img width="300" height="62" src="{{ asset('front/images/logo-id2-02-02-03-300x62.png') }}" class="image wp-image-381 business attachment-medium size-medium" alt="" loading="lazy" style="max-width: 100%; height: auto;" title="discover business opportunities in Africa with" srcset="{{ asset('front/images/logo-id2-02-02-03-300x62.png 300w') }}, {{ asset('front/images/logo-id2-02-02-03-1024x213.png 1024w') }}, {{ asset('front/images/logo-id2-02-02-03-768x160.png 768w') }}, {{ asset('front/images/logo-id2-02-02-03-1536x319.png 1536w') }}, {{ asset('front/images/logo-id2-02-02-03-2048x426.png 2048w') }}, {{ asset('front/images/logo-id2-02-02-03-1170x243.png 1170w') }}" sizes="(max-width: 300px) 100vw, 300px"/>
				</a>
			</section>
		</div>
		<div class="sidebar-widget-container">
			<section id="media_image-1" class="widget widget_media_image">
				<h2 class="widget-title">Plan your business trip to Africa now</h2>
				<a href="http://africabusinesstour.com" class="travellink" rel="Plan your business trip to Africa now">
					<img width="8000" height="4501" src="{{ asset('front/images/africa-busness-02-02-1.png') }}" class="image wp-image-380 travel attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" title="Plan your business trip to Africa now" srcset="{{ asset('front/images/africa-busness-02-02-1.png 8000w') }}, {{ asset('front/images/africa-busness-02-02-1-300x169.png 300w') }}, {{ asset('front/images/africa-busness-02-02-1-1024x576.png 1024w') }}, {{ asset('front/images/africa-busness-02-02-1-768x432.png 768w') }}, {{ asset('front/images/africa-busness-02-02-1-1536x864.png 1536w') }}, {{ asset('front/images/africa-busness-02-02-1-2048x1152.png 2048w') }}, {{ asset('front/images/africa-busness-02-02-1-1170x658.png 1170w') }}" sizes="(max-width: 8000px) 100vw, 8000px"/>
				</a>
			</section>
		</div>
		
	</div>
</aside>


{% block stylesheet %}
	<style type="text/css">
		.map {
			border-radius: 8px;
			padding: 12px;
			margin: auto;
			box-shadow: 0.5px 0.5px 2px 0.5px;
		}
		path {
			fill: #f2f2f2 !important;
			stroke: "black";
			stroke-width: 2px;
			transition: fill 0.3s;
		}
		path:hover {
			fill: rgb(147, 0, 71) !important;
		}
	</style>

{% endblock %}


{% block javascript %}
	<script>
		var map = document.querySelector('#map');
var paths = map.querySelectorAll(".map__image a");

const slugify_city = (text) => {
return text.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-');
};

paths.forEach((path) => {
path.addEventListener("click", function (e) {
e.preventDefault();
document.location = "/category/" + slugify_city(e.target.getAttribute('data-name'));
}, false);
});
	</script>
{% endblock %}
#}
