<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="profile" href="https://gmpg.org/xfn/11">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7964037774243015" crossorigin="anonymous"></script>
		<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'/>
		<link media="screen" href="{{ asset('front/css/autoptimize-css-autoptimize_e31331878932ae8e08ff6b154da82e9d.css') }}" rel="stylesheet"/>
		<link media="screen" href="{{ asset('front/css/autoptimize-css-autoptimize_a318e34a19c5647cc570eead676317f3.css') }}" rel="stylesheet"/>
		<title>
			{% block title %}
				Gate Of Africa - |
			{% endblock %}
		</title>
		<link rel="canonical" href="https://gate-news.com/"/>
		<link
		rel="next" href="https://gate-news.com/page/2/"/>
		{# <link rel="stylesheet" href="{{ asset('assets/dist/css/adminlte.min.css') }}"> #}
		<link rel="stylesheet" href="{{ asset('assets/plugins/toastr/toastr.min.css') }}">
		<meta property="og:locale" content="fr_FR"/>
		<meta property="og:type" content="website"/>
		<meta property="og:description" content="Test de mon site web"/>
		<meta property="og:title" content="Gate-News"/>
		<meta property="og:url" content="https://gate-news.com/"/>
		<meta property="og:site_name" content="Gate-News"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://gate-news.com/#organization","name":"GATE-NEWS","url":"https://gate-news.com/","sameAs":[],"logo":{"@type":"ImageObject","@id":"https://gate-news.com/#logo","inLanguage":"fr-FR","url":"","contentUrl":"","caption":"GATE-NEWS"},"image":{"@id":"https://gate-news.com/#logo"}},{"@type":"WebSite","@id":"https://gate-news.com/#website","url":"https://gate-news.com/","name":"Gate-News","description":"","publisher":{"@id":"https://gate-news.com/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://gate-news.com/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"fr-FR"},{"@type":"CollectionPage","@id":"https://gate-news.com/#webpage","url":"https://gate-news.com/","name":"Gate-News -","isPartOf":{"@id":"https://gate-news.com/#website"},"about":{"@id":"https://gate-news.com/#organization"},"breadcrumb":{"@id":"https://gate-news.com/#breadcrumb"},"inLanguage":"fr-FR","potentialAction":[{"@type":"ReadAction","target":["https://gate-news.com/"]}]},{"@type":"BreadcrumbList","@id":"https://gate-news.com/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Accueil"}]}]}</script>
		<meta name="google-site-verification" content="PFAfhLqJA87WdnBVS51ycXzDKTZaLr1yEBRkjH717Vw"/><link rel='dns-prefetch' href='//www.googletagmanager.com'/><link rel='dns-prefetch' href='//fonts.googleapis.com'/><link rel='dns-prefetch' href='//s.w.org'/><link rel='dns-prefetch' href='//pagead2.googlesyndication.com'/><link rel="alternate" type="application/rss+xml" title="Gate-News &raquo; Flux" href="https://gate-news.com/index.php/feed/"/><link rel="alternate" type="application/rss+xml" title="Gate-News &raquo; Flux des commentaires" href="https://gate-news.com/index.php/comments/feed/"/>
		<script type="text/javascript">
			window._wpemojiSettings = {
"baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
"ext": ".png') }}",
"svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
"svgExt": ".svg",
"source": {
"concatemoji": "https:\/\/gate-news.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.2"
}
};
!function (e, a, t) {
var n,
r,
o,
i = a.createElement("canvas"),
p = i.getContext && i.getContext("2d");
function s(e, t) {
var a = String.fromCharCode;
p.clearRect(0, 0, i.width, i.height),
p.fillText(a.apply(this, e), 0, 0);
e = i.toDataURL();
return p.clearRect(0, 0, i.width, i.height),
p.fillText(a.apply(this, t), 0, 0),
e === i.toDataURL()
}
function c(e) {
var t = a.createElement("script");
t.src = e,
t.defer = t.type = "text/javascript",
a.getElementsByTagName("head")[0].appendChild(t)
}
for (o = Array("flag", "emoji"), t.supports =
{ everything: !0,
everythingExceptFlag: !0
}, r = 0; r < o.length; r++) 
t.supports[o[r]] = function (e) {
if (! p || ! p.fillText) 
return !1;

switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
case "flag":
return s([
127987,
65039,
8205,
9895,
65039
], [
127987,
65039,
8203,
9895,
65039
]) ? !1 : ! s([
55356, 56826, 55356, 56819
], [
55356,
56826,
8203,
55356,
56819
]) && ! s([
55356,
57332,
56128,
56423,
56128,
56418,
56128,
56421,
56128,
56430,
56128,
56423,
56128,
56447
], [
55356,
57332,
8203,
56128,
56423,
8203,
56128,
56418,
8203,
56128,
56421,
8203,
56128,
56430,
8203,
56128,
56423,
8203,
56128,
56447
]);
case "emoji":
return ! s([
10084,
65039,
8205,
55357,
56613
], [
10084,
65039,
8203,
55357,
56613
])
}
return !1
}

(o[r]),
t.supports.everything = t.supports.everything && t.supports[o[r]],
"flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && ! t.supports.flag,
t.DOMReady = !1,
t.readyCallback = function () {
t.DOMReady = !0
},
t.supports.everything || (n = function () {
t.readyCallback()
}, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () {
"complete" === a.readyState && t.readyCallback()
})), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
}(window, document, window._wpemojiSettings);
		</script>
		<style id='xoo-el-style-inline-css' type='text/css'>
			.xoo-el-form-container button.btn.button.xoo-el-action-btn {
				background-color: #f49809;
				color: #ffffff;
				font-weight: 600;
				font-size: 15px;
				height: 40px;
			}
			.xoo-el-inmodal {
				max-width: 800px;
				max-height: 600px;
			}
			.xoo-el-sidebar {
				background-image: url({{ asset('front/images/pngegg-1.png') }});
				min-width: 60%;
			}
			.xoo-el-main,
			.xoo-el-main a,
			.xoo-el-main label {
				color: #000000;
			}
			.xoo-el-srcont {
				background-color: #ffffff;
			}
			.xoo-el-form-container ul.xoo-el-tabs li.xoo-el-active {
				background-color: #990033;
				color: #ffffff;
			}
			.xoo-el-form-container ul.xoo-el-tabs li {
				background-color: #eeeeee;
				color: #000000;
			}
			.xoo-el-main {
				padding: 40px 30px;
			}
			.xoo-el-form-container button.xoo-el-action-btn:not(.button) {
				font-weight: 600;
				font-size: 15px;
			}
			.xoo-el-modal:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
		</style>
		<link rel='stylesheet' id='refined-news-heading-css' href='//fonts.googleapis.com/css?family=Oswald&#038;ver=5.8.2' type='text/css' media='all'/>
		<link rel='stylesheet' id='google-fonts-css' href='//fonts.googleapis.com/css?family=Slabo+27px%7CMuli&#038;display=swap&#038;ver=5.8.2' type='text/css' media='all'/>
		<script>
			var rcewpp = {
"ajax_url": "https://gate-news.com/wp-admin/admin-ajax.php",
"nonce": "8a9da88404",
"home_url": "https://gate-news.com/",
"settings_icon": 'https://gate-news.com/wp-content/plugins/export-wp-page-to-static-html/admin/images/settings.png',
"settings_hover_icon": 'https://gate-news.com/wp-content/plugins/export-wp-page-to-static-html/admin/images/settings_hover.png'
};
/* ]]\> */
		</script>
		<script type='text/javascript' src="{{ asset('front/js/jquery-jquery.min.js') }}" id='jquery-core-js'></script>
		<script type='text/javascript' id='pms-front-end-js-extra'>
			var pmsGdpr = {
"delete_url": "https:\/\/gate-news.com?pms_user=0&pms_action=pms_delete_user&pms_nonce=6557fc7b26",
"delete_text": "Type DELETE to confirm deleting your account and all data associated with it:",
"delete_error_text": "You did not type DELETE. Try again!"
};
var PMS_States = {
"AR": {
"C": "Ciudad Aut&oacute;noma de Buenos Aires",
"B": "Buenos Aires",
"K": "Catamarca",
"H": "Chaco",
"U": "Chubut",
"X": "C&oacute;rdoba",
"W": "Corrientes",
"E": "Entre R&iacute;os",
"P": "Formosa",
"Y": "Jujuy",
"L": "La Pampa",
"F": "La Rioja",
"M": "Mendoza",
"N": "Misiones",
"Q": "Neuqu&eacute;n",
"R": "R&iacute;o Negro",
"A": "Salta",
"J": "San Juan",
"D": "San Luis",
"Z": "Santa Cruz",
"S": "Santa Fe",
"G": "Santiago del Estero",
"V": "Tierra del Fuego",
"T": "Tucum&aacute;n"
},
"PE": {
"CAL": "El Callao",
"LMA": "Municipalidad Metropolitana de Lima",
"AMA": "Amazonas",
"ANC": "Ancash",
"APU": "Apur&iacute;mac",
"ARE": "Arequipa",
"AYA": "Ayacucho",
"CAJ": "Cajamarca",
"CUS": "Cusco",
"HUV": "Huancavelica",
"HUC": "Hu&aacute;nuco",
"ICA": "Ica",
"JUN": "Jun&iacute;n",
"LAL": "La Libertad",
"LAM": "Lambayeque",
"LIM": "Lima",
"LOR": "Loreto",
"MDD": "Madre de Dios",
"MOQ": "Moquegua",
"PAS": "Pasco",
"PIU": "Piura",
"PUN": "Puno",
"SAM": "San Mart&iacute;n",
"TAC": "Tacna",
"TUM": "Tumbes",
"UCA": "Ucayali"
},
"ZA": {
"EC": "Eastern Cape",
"FS": "Free State",
"GP": "Gauteng",
"KZN": "KwaZulu-Natal",
"LP": "Limpopo",
"MP": "Mpumalanga",
"NC": "Northern Cape",
"NW": "North West",
"WC": "Western Cape"
},
"GR": {
"I": "\u0391\u03c4\u03c4\u03b9\u03ba\u03ae",
"A": "\u0391\u03bd\u03b1\u03c4\u03bf\u03bb\u03b9\u03ba\u03ae \u039c\u03b1\u03ba\u03b5\u03b4\u03bf\u03bd\u03af\u03b1 \u03ba\u03b1\u03b9 \u0398\u03c1\u03ac\u03ba\u03b7",
"B": "\u039a\u03b5\u03bd\u03c4\u03c1\u03b9\u03ba\u03ae \u039c\u03b1\u03ba\u03b5\u03b4\u03bf\u03bd\u03af\u03b1",
"C": "\u0394\u03c5\u03c4\u03b9\u03ba\u03ae \u039c\u03b1\u03ba\u03b5\u03b4\u03bf\u03bd\u03af\u03b1",
"D": "\u0389\u03c0\u03b5\u03b9\u03c1\u03bf\u03c2",
"E": "Thessalie",
"F": "Ionian Islands",
"G": "Gr\u00e8ce-Occidentale",
"H": "Gr\u00e8ce-Centrale",
"J": "P\u00e9loponn\u00e8se",
"K": "\u00c9g\u00e9e-Septentrionale",
"L": "\u00c9g\u00e9e-M\u00e9ridionale",
"M": "Cr\u00e8te"
},
"HK": {
"HONG KONG": "Iles de Hong Kong ",
"KOWLOON": "Kowloon",
"NEW TERRITORIES": "Nouveaux Territoires"
},
"BD": {
"BAG": "Bagerhat",
"BAN": "Bandarban",
"BAR": "Barguna",
"BARI": "Barisal",
"BHO": "Bhola",
"BOG": "Bogra",
"BRA": "Brahmanbaria",
"CHA": "Chandpur",
"CHI": "Chittagong",
"CHU": "Chuadanga",
"COM": "Comilla",
"COX": "Cox's Bazar",
"DHA": "Dhaka",
"DIN": "Dinajpur",
"FAR": "Faridpur ",
"FEN": "Feni",
"GAI": "Gaibandha",
"GAZI": "Gazipur",
"GOP": "Gopalganj",
"HAB": "Habiganj",
"JAM": "Jamalpur",
"JES": "Jessore",
"JHA": "Jhalokati",
"JHE": "Jhenaidah",
"JOY": "Joypurhat",
"KHA": "Khagrachhari",
"KHU": "Khulna",
"KIS": "Kishoreganj",
"KUR": "Kurigram",
"KUS": "Kushtia",
"LAK": "Lakshmipur",
"LAL": "Lalmonirhat",
"MAD": "Madaripur",
"MAG": "Magura",
"MAN": "Manikganj ",
"MEH": "Meherpur",
"MOU": "Moulvibazar",
"MUN": "Munshiganj",
"MYM": "Mymensingh",
"NAO": "Naogaon",
"NAR": "Narail",
"NARG": "Narayanganj",
"NARD": "Narsingdi",
"NAT": "Natore",
"NAW": "Nawabganj",
"NET": "Netrakona",
"NIL": "Nilphamari",
"NOA": "Noakhali",
"PAB": "Pabna",
"PAN": "Panchagarh",
"PAT": "Patuakhali",
"PIR": "Pirojpur",
"RAJB": "Rajbari",
"RAJ": "Rajshahi",
"RAN": "Rangamati",
"RANP": "Rangpur",
"SAT": "Satkhira",
"SHA": "Shariatpur",
"SHE": "Sherpur",
"SIR": "Sirajganj",
"SUN": "Sunamganj",
"SYL": "Sylhet",
"TAN": "Tangail",
"THA": "Thakurgaon"
},
"MX": {
"Distrito Federal": "Distrito Federal",
"Jalisco": "Jalisco",
"Nuevo Leon": "Nuevo Le\u00f3n",
"Aguascalientes": "Aguascalientes",
"Baja California": "Baja California",
"Baja California Sur": "Baja California Sur",
"Campeche": "Campeche",
"Chiapas": "Chiapas",
"Chihuahua": "Chihuahua",
"Coahuila": "Coahuila",
"Colima": "Colima",
"Durango": "Durango",
"Guanajuato": "Guanajuato",
"Guerrero": "Guerrero",
"Hidalgo": "Hidalgo",
"Estado de Mexico": "Edo. de M\u00e9xico",
"Michoacan": "Michoac\u00e1n",
"Morelos": "Morelos",
"Nayarit": "Nayarit",
"Oaxaca": "Oaxaca",
"Puebla": "Puebla",
"Queretaro": "Quer\u00e9taro",
"Quintana Roo": "Quintana Roo",
"San Luis Potosi": "San Luis Potos\u00ed",
"Sinaloa": "Sinaloa",
"Sonora": "Sonora",
"Tabasco": "Tabasco",
"Tamaulipas": "Tamaulipas",
"Tlaxcala": "Tlaxcala",
"Veracruz": "Veracruz",
"Yucatan": "Yucat\u00e1n",
"Zacatecas": "Zacatecas"
},
"JP": {
"JP01": "Hokkaido",
"JP02": "Aomori",
"JP03": "Iwate",
"JP04": "Miyagi",
"JP05": "Akita",
"JP06": "Yamagata",
"JP07": "Fukushima",
"JP08": "Ibaraki",
"JP09": "Tochigi",
"JP10": "Gunma",
"JP11": "Saitama",
"JP12": "Chiba",
"JP13": "Tokyo",
"JP14": "Kanagawa",
"JP15": "Niigata",
"JP16": "Toyama",
"JP17": "Ishikawa",
"JP18": "Fukui",
"JP19": "Yamanashi",
"JP20": "Nagano",
"JP21": "Gifu",
"JP22": "Shizuoka",
"JP23": "Aichi",
"JP24": "Mie",
"JP25": "Shiga",
"JP26": "Kyoto",
"JP27": "Osaka",
"JP28": "Hyogo",
"JP29": "Nara",
"JP30": "Wakayama",
"JP31": "Tottori",
"JP32": "Shimane",
"JP33": "Okayama",
"JP34": "Hiroshima",
"JP35": "Yamaguchi",
"JP36": "Tokushima",
"JP37": "Kagawa",
"JP38": "Ehime",
"JP39": "Kochi",
"JP40": "Fukuoka",
"JP41": "Saga",
"JP42": "Nagasaki",
"JP43": "Kumamoto",
"JP44": "Oita",
"JP45": "Miyazaki",
"JP46": "Kagoshima",
"JP47": "Okinawa"
},
"BR": {
"AC": "Acre",
"AL": "Alagoas",
"AP": "Amap&aacute;",
"AM": "Amazonas",
"BA": "Bahia",
"CE": "Cear&aacute;",
"DF": "Distrito Federal",
"ES": "Esp&iacute;rito Santo",
"GO": "Goi&aacute;s",
"MA": "Maranh&atilde;o",
"MT": "Mato Grosso",
"MS": "Mato Grosso do Sul",
"MG": "Minas Gerais",
"PA": "Par&aacute;",
"PB": "Para&iacute;ba",
"PR": "Paran&aacute;",
"PE": "Pernambuco",
"PI": "Piau&iacute;",
"RJ": "Rio de Janeiro",
"RN": "Rio Grande do Norte",
"RS": "Rio Grande do Sul",
"RO": "Rond&ocirc;nia",
"RR": "Roraima",
"SC": "Santa Catarina",
"SP": "S&atilde;o Paulo",
"SE": "Sergipe",
"TO": "Tocantins"
},
"US": {
"AL": "Alabama",
"AK": "Alaska",
"AZ": "Arizona",
"AR": "Arkansas",
"CA": "Californie",
"CO": "Colorado",
"CT": "Connecticut",
"DE": "Delaware",
"DC": "District Of Columbia",
"FL": "Floride",
"GA": "G\u00e9orgie",
"HI": "Hawaii",
"ID": "Idaho",
"IL": "Illinois",
"IN": "Indiana",
"IA": "Iowa",
"KS": "Kansas",
"KY": "Kentucky",
"LA": "Louisiane",
"ME": "Maine",
"MD": "Maryland",
"MA": "Massachusetts",
"MI": "Michigan",
"MN": "Minnesota",
"MS": "Mississippi",
"MO": "Missouri",
"MT": "Montana",
"NE": "Nebraska",
"NV": "Nevada",
"NH": "New Hampshire",
"NJ": "New Jersey",
"NM": "New Mexico",
"NY": "New York",
"NC": "North Carolina",
"ND": "North Dakota",
"OH": "Ohio",
"OK": "Oklahoma",
"OR": "Oregon",
"PA": "Pennsylvanie",
"RI": "Rhode Island",
"SC": "Caroline du sud",
"SD": "Dakota du sud",
"TN": "Tennessee",
"TX": "Texas",
"UT": "Utah",
"VT": "Vermont",
"VA": "Virginie",
"WA": "Washington",
"WV": "West Virginia",
"WI": "Wisconsin",
"WY": "Wyoming",
"AA": "Forces Arm\u00e9es AA",
"AE": "Forces arm\u00e9es AE",
"AP": "Forces arm\u00e9es AP",
"AS": "Samoa am\u00e9ricain",
"GU": "Guam",
"MP": "\u00celes Mariannes du Nord",
"PR": "Porto Rico",
"UM": "\u00celes mineures \u00e9loign\u00e9es des \u00c9tats-Unis",
"VI": "Iles Vierges am\u00e9ricaines"
},
"TH": {
"TH-37": "Amnat Charoen (&#3629;&#3635;&#3609;&#3634;&#3592;&#3648;&#3592;&#3619;&#3636;&#3597;)",
"TH-15": "Ang Thong (&#3629;&#3656;&#3634;&#3591;&#3607;&#3629;&#3591;)",
"TH-14": "Ayutthaya (&#3614;&#3619;&#3632;&#3609;&#3588;&#3619;&#3624;&#3619;&#3637;&#3629;&#3618;&#3640;&#3608;&#3618;&#3634;)",
"TH-10": "Bangkok (&#3585;&#3619;&#3640;&#3591;&#3648;&#3607;&#3614;&#3617;&#3627;&#3634;&#3609;&#3588;&#3619;)",
"TH-38": "Bueng Kan (&#3610;&#3638;&#3591;&#3585;&#3634;&#3628;)",
"TH-31": "Buri Ram (&#3610;&#3640;&#3619;&#3637;&#3619;&#3633;&#3617;&#3618;&#3660;)",
"TH-24": "Chachoengsao (&#3593;&#3632;&#3648;&#3594;&#3636;&#3591;&#3648;&#3607;&#3619;&#3634;)",
"TH-18": "Chai Nat (&#3594;&#3633;&#3618;&#3609;&#3634;&#3607;)",
"TH-36": "Chaiyaphum (&#3594;&#3633;&#3618;&#3616;&#3641;&#3617;&#3636;)",
"TH-22": "Chanthaburi (&#3592;&#3633;&#3609;&#3607;&#3610;&#3640;&#3619;&#3637;)",
"TH-50": "Chiang Mai (&#3648;&#3594;&#3637;&#3618;&#3591;&#3651;&#3627;&#3617;&#3656;)",
"TH-57": "Chiang Rai (&#3648;&#3594;&#3637;&#3618;&#3591;&#3619;&#3634;&#3618;)",
"TH-20": "Chonburi (&#3594;&#3621;&#3610;&#3640;&#3619;&#3637;)",
"TH-86": "Chumphon (&#3594;&#3640;&#3617;&#3614;&#3619;)",
"TH-46": "Kalasin (&#3585;&#3634;&#3628;&#3626;&#3636;&#3609;&#3608;&#3640;&#3660;)",
"TH-62": "Kamphaeng Phet (&#3585;&#3635;&#3649;&#3614;&#3591;&#3648;&#3614;&#3594;&#3619;)",
"TH-71": "Kanchanaburi (&#3585;&#3634;&#3597;&#3592;&#3609;&#3610;&#3640;&#3619;&#3637;)",
"TH-40": "Khon Kaen (&#3586;&#3629;&#3609;&#3649;&#3585;&#3656;&#3609;)",
"TH-81": "Krabi (&#3585;&#3619;&#3632;&#3610;&#3637;&#3656;)",
"TH-52": "Lampang (&#3621;&#3635;&#3611;&#3634;&#3591;)",
"TH-51": "Lamphun (&#3621;&#3635;&#3614;&#3641;&#3609;)",
"TH-42": "Loei (&#3648;&#3621;&#3618;)",
"TH-16": "Lopburi (&#3621;&#3614;&#3610;&#3640;&#3619;&#3637;)",
"TH-58": "Mae Hong Son (&#3649;&#3617;&#3656;&#3630;&#3656;&#3629;&#3591;&#3626;&#3629;&#3609;)",
"TH-44": "Maha Sarakham (&#3617;&#3627;&#3634;&#3626;&#3634;&#3619;&#3588;&#3634;&#3617;)",
"TH-49": "Mukdahan (&#3617;&#3640;&#3585;&#3604;&#3634;&#3627;&#3634;&#3619;)",
"TH-26": "Nakhon Nayok (&#3609;&#3588;&#3619;&#3609;&#3634;&#3618;&#3585;)",
"TH-73": "Nakhon Pathom (&#3609;&#3588;&#3619;&#3611;&#3600;&#3617;)",
"TH-48": "Nakhon Phanom (&#3609;&#3588;&#3619;&#3614;&#3609;&#3617;)",
"TH-30": "Nakhon Ratchasima (&#3609;&#3588;&#3619;&#3619;&#3634;&#3594;&#3626;&#3637;&#3617;&#3634;)",
"TH-60": "Nakhon Sawan (&#3609;&#3588;&#3619;&#3626;&#3623;&#3619;&#3619;&#3588;&#3660;)",
"TH-80": "Nakhon Si Thammarat (&#3609;&#3588;&#3619;&#3624;&#3619;&#3637;&#3608;&#3619;&#3619;&#3617;&#3619;&#3634;&#3594;)",
"TH-55": "Nan (&#3609;&#3656;&#3634;&#3609;)",
"TH-96": "Narathiwat (&#3609;&#3619;&#3634;&#3608;&#3636;&#3623;&#3634;&#3626;)",
"TH-39": "Nong Bua Lam Phu (&#3627;&#3609;&#3629;&#3591;&#3610;&#3633;&#3623;&#3621;&#3635;&#3616;&#3641;)",
"TH-43": "Nong Khai (&#3627;&#3609;&#3629;&#3591;&#3588;&#3634;&#3618;)",
"TH-12": "Nonthaburi (&#3609;&#3609;&#3607;&#3610;&#3640;&#3619;&#3637;)",
"TH-13": "Pathum Thani (&#3611;&#3607;&#3640;&#3617;&#3608;&#3634;&#3609;&#3637;)",
"TH-94": "Pattani (&#3611;&#3633;&#3605;&#3605;&#3634;&#3609;&#3637;)",
"TH-82": "Phang Nga (&#3614;&#3633;&#3591;&#3591;&#3634;)",
"TH-93": "Phatthalung (&#3614;&#3633;&#3607;&#3621;&#3640;&#3591;)",
"TH-56": "Phayao (&#3614;&#3632;&#3648;&#3618;&#3634;)",
"TH-67": "Phetchabun (&#3648;&#3614;&#3594;&#3619;&#3610;&#3641;&#3619;&#3603;&#3660;)",
"TH-76": "Phetchaburi (&#3648;&#3614;&#3594;&#3619;&#3610;&#3640;&#3619;&#3637;)",
"TH-66": "Phichit (&#3614;&#3636;&#3592;&#3636;&#3605;&#3619;)",
"TH-65": "Phitsanulok (&#3614;&#3636;&#3625;&#3603;&#3640;&#3650;&#3621;&#3585;)",
"TH-54": "Phrae (&#3649;&#3614;&#3619;&#3656;)",
"TH-83": "Phuket (&#3616;&#3641;&#3648;&#3585;&#3655;&#3605;)",
"TH-25": "Prachin Buri (&#3611;&#3619;&#3634;&#3592;&#3637;&#3609;&#3610;&#3640;&#3619;&#3637;)",
"TH-77": "Prachuap Khiri Khan (&#3611;&#3619;&#3632;&#3592;&#3623;&#3610;&#3588;&#3637;&#3619;&#3637;&#3586;&#3633;&#3609;&#3608;&#3660;)",
"TH-85": "Ranong (&#3619;&#3632;&#3609;&#3629;&#3591;)",
"TH-70": "Ratchaburi (&#3619;&#3634;&#3594;&#3610;&#3640;&#3619;&#3637;)",
"TH-21": "Rayong (&#3619;&#3632;&#3618;&#3629;&#3591;)",
"TH-45": "Roi Et (&#3619;&#3657;&#3629;&#3618;&#3648;&#3629;&#3655;&#3604;)",
"TH-27": "Sa Kaeo (&#3626;&#3619;&#3632;&#3649;&#3585;&#3657;&#3623;)",
"TH-47": "Sakon Nakhon (&#3626;&#3585;&#3621;&#3609;&#3588;&#3619;)",
"TH-11": "Samut Prakan (&#3626;&#3617;&#3640;&#3607;&#3619;&#3611;&#3619;&#3634;&#3585;&#3634;&#3619;)",
"TH-74": "Samut Sakhon (&#3626;&#3617;&#3640;&#3607;&#3619;&#3626;&#3634;&#3588;&#3619;)",
"TH-75": "Samut Songkhram (&#3626;&#3617;&#3640;&#3607;&#3619;&#3626;&#3591;&#3588;&#3619;&#3634;&#3617;)",
"TH-19": "Saraburi (&#3626;&#3619;&#3632;&#3610;&#3640;&#3619;&#3637;)",
"TH-91": "Satun (&#3626;&#3605;&#3641;&#3621;)",
"TH-17": "Sing Buri (&#3626;&#3636;&#3591;&#3627;&#3660;&#3610;&#3640;&#3619;&#3637;)",
"TH-33": "Sisaket (&#3624;&#3619;&#3637;&#3626;&#3632;&#3648;&#3585;&#3625;)",
"TH-90": "Songkhla (&#3626;&#3591;&#3586;&#3621;&#3634;)",
"TH-64": "Sukhothai (&#3626;&#3640;&#3650;&#3586;&#3607;&#3633;&#3618;)",
"TH-72": "Suphan Buri (&#3626;&#3640;&#3614;&#3619;&#3619;&#3603;&#3610;&#3640;&#3619;&#3637;)",
"TH-84": "Surat Thani (&#3626;&#3640;&#3619;&#3634;&#3625;&#3598;&#3619;&#3660;&#3608;&#3634;&#3609;&#3637;)",
"TH-32": "Surin (&#3626;&#3640;&#3619;&#3636;&#3609;&#3607;&#3619;&#3660;)",
"TH-63": "Tak (&#3605;&#3634;&#3585;)",
"TH-92": "Trang (&#3605;&#3619;&#3633;&#3591;)",
"TH-23": "Trat (&#3605;&#3619;&#3634;&#3604;)",
"TH-34": "Ubon Ratchathani (&#3629;&#3640;&#3610;&#3621;&#3619;&#3634;&#3594;&#3608;&#3634;&#3609;&#3637;)",
"TH-41": "Udon Thani (&#3629;&#3640;&#3604;&#3619;&#3608;&#3634;&#3609;&#3637;)",
"TH-61": "Uthai Thani (&#3629;&#3640;&#3607;&#3633;&#3618;&#3608;&#3634;&#3609;&#3637;)",
"TH-53": "Uttaradit (&#3629;&#3640;&#3605;&#3619;&#3604;&#3636;&#3605;&#3606;&#3660;)",
"TH-95": "Yala (&#3618;&#3632;&#3621;&#3634;)",
"TH-35": "Yasothon (&#3618;&#3650;&#3626;&#3608;&#3619;)"
},
"PH": {
"ABR": "Abra",
"AGN": "Agusan del Norte",
"AGS": "Agusan del Sur",
"AKL": "Aklan",
"ALB": "Albay",
"ANT": "Antique",
"APA": "Apayao",
"AUR": "Aurora",
"BAS": "Basilan",
"BAN": "Bataan",
"BTN": "Batanes",
"BTG": "Batangas",
"BEN": "Benguet",
"BIL": "Biliran",
"BOH": "Bohol",
"BUK": "Bukidnon",
"BUL": "Bulacan",
"CAG": "Cagayan",
"CAN": "Camarines Norte",
"CAS": "Camarines Sur",
"CAM": "Camiguin",
"CAP": "Capiz",
"CAT": "Catanduanes",
"CAV": "Cavite",
"CEB": "Cebu",
"COM": "Compostela Valley",
"NCO": "Cotabato",
"DAV": "Davao del Norte",
"DAS": "Davao del Sur",
"DAC": "Davao Occidental",
"DAO": "Davao Oriental",
"DIN": "Dinagat Islands",
"EAS": "Eastern Samar",
"GUI": "Guimaras",
"IFU": "Ifugao",
"ILN": "Ilocos Norte",
"ILS": "Ilocos Sur",
"ILI": "Iloilo",
"ISA": "Isabela",
"KAL": "Kalinga",
"LUN": "La Union",
"LAG": "Laguna",
"LAN": "Lanao del Norte",
"LAS": "Lanao del Sur",
"LEY": "Leyte",
"MAG": "Maguindanao",
"MAD": "Marinduque",
"MAS": "Masbate",
"MSC": "Misamis Occidental",
"MSR": "Misamis Oriental",
"MOU": "Mountain Province",
"NEC": "Negros Occidental",
"NER": "Negros Oriental",
"NSA": "Northern Samar",
"NUE": "Nueva Ecija",
"NUV": "Nueva Vizcaya",
"MDC": "Occidental Mindoro",
"MDR": "Oriental Mindoro",
"PLW": "Palawan",
"PAM": "Pampanga",
"PAN": "Pangasinan",
"QUE": "Quezon",
"QUI": "Quirino",
"RIZ": "Rizal",
"ROM": "Romblon",
"WSA": "Samar",
"SAR": "Sarangani",
"SIQ": "Siquijor",
"SOR": "Sorsogon",
"SCO": "Cotabato du sud",
"SLE": "Leyte du sud",
"SUK": "Sultan Kudarat",
"SLU": "Sulu",
"SUN": "Surigao del Norte",
"SUR": "Surigao del Sur",
"TAR": "Tarlac",
"TAW": "Tawi-Tawi",
"ZMB": "Zambales",
"ZAN": "Zamboanga del Norte",
"ZAS": "Zamboanga del Sur",
"ZSI": "Zamboanga Sibugay",
"00": "Metro Manila"
},
"RO": {
"AB": "Alba",
"AR": "Arad",
"AG": "Arge&#537;",
"BC": "Bac&#259;u",
"BH": "Bihor",
"BN": "Bistri&#539;a-N&#259;s&#259;ud",
"BT": "Boto&#537;ani",
"BR": "Br&#259;ila",
"BV": "Bra&#537;ov",
"B": "Bucure&#537;ti",
"BZ": "Buz&#259;u",
"CL": "C&#259;l&#259;ra&#537;i",
"CS": "Cara&#537;-Severin",
"CJ": "Cluj",
"CT": "Constan&#539;a",
"CV": "Covasna",
"DB": "D&acirc;mbovi&#539;a",
"DJ": "Dolj",
"GL": "Gala&#539;i",
"GR": "Giurgiu",
"GJ": "Gorj",
"HR": "Harghita",
"HD": "Hunedoara",
"IL": "Ialomi&#539;a",
"IS": "Ia&#537;i",
"IF": "Ilfov",
"MM": "Maramure&#537;",
"MH": "Mehedin&#539;i",
"MS": "Mure&#537;",
"NT": "Neam&#539;",
"OT": "Olt",
"PH": "Prahova",
"SJ": "S&#259;laj",
"SM": "Satu Mare",
"SB": "Sibiu",
"SV": "Suceava",
"TR": "Teleorman",
"TM": "Timi&#537;",
"TL": "Tulcea",
"VL": "V&acirc;lcea",
"VS": "Vaslui",
"VN": "Vrancea"
},
"MY": {
"JHR": "Johor",
"KDH": "Kedah",
"KTN": "Kelantan",
"MLK": "Melaka",
"NSN": "Negeri Sembilan",
"PHG": "Pahang",
"PRK": "Perak",
"PLS": "Perlis",
"PNG": "Pulau Pinang",
"SBH": "Sabah",
"SWK": "Sarawak",
"SGR": "Selangor",
"TRG": "Terengganu",
"KUL": "W.P. Kuala Lumpur",
"LBN": "W.P. Labuan",
"PJY": "W.P. Putrajaya"
},
"ID": {
"AC": "Daerah Istimewa Aceh",
"SU": "Sumatera Utara",
"SB": "Sumatera Barat",
"RI": "Riau",
"KR": "Kepulauan Riau",
"JA": "Jambi",
"SS": "Sumatera Selatan",
"BB": "Bangka Belitung",
"BE": "Bengkulu",
"LA": "Lampung",
"JK": "DKI Jakarta",
"JB": "Jawa Barat",
"BT": "Banten",
"JT": "Jawa Tengah",
"JI": "Jawa Timur",
"YO": "Daerah Istimewa Yogyakarta",
"BA": "Bali",
"NB": "Nusa Tenggara Barat",
"NT": "Nusa Tenggara Timur",
"KB": "Kalimantan Barat",
"KT": "Kalimantan Tengah",
"KI": "Kalimantan Timur",
"KS": "Kalimantan Selatan",
"KU": "Kalimantan Utara",
"SA": "Sulawesi Utara",
"ST": "Sulawesi central",
"SG": "Sulawesi du Sud-Est",
"SR": "Sulawesi occidental",
"SN": "Sulawesi du Sud",
"GO": "Gorontalo",
"MA": "Maluku",
"MU": "Moluques du Nord",
"PA": "Papouasie",
"PB": "Papouasie occidentale"
},
"IT": {
"AG": "Agrigente",
"AL": "Alexandrie",
"AN": "Anc&ocirc;ne",
"AO": "Aoste",
"AR": "Arezzo",
"AP": "Ascoli Piceno",
"AT": "Asti",
"AV": "Avellino",
"BA": "Bari",
"BT": "Barletta-Andria-Trani",
"BL": "Belluno",
"BN": "Benevento",
"BG": "Bergame",
"BI": "Biella",
"BO": "Bologne",
"BZ": "Bolzano",
"BS": "Brescia",
"BR": "Brindisi",
"CA": "Cagliari",
"CL": "Caltanissetta",
"CB": "Campobasso",
"CI": "Carbonia-Iglesias",
"CE": "Caserta",
"CT": "Catania",
"CZ": "Catanzaro",
"CH": "Chieti",
"CO": "Como",
"CS": "Cosenza",
"CR": "Cremona",
"KR": "Crotone",
"CN": "Cuneo",
"EN": "Enna",
"FM": "Fermo",
"FE": "Ferrara",
"FI": "Firenze",
"FG": "Foggia",
"FC": "Forl\u00ec-Cesena",
"FR": "Frosinone",
"GE": "Genova",
"GO": "Gorizia",
"GR": "Grosseto",
"IM": "Imperia",
"IS": "Isernia",
"SP": "La Spezia",
"AQ": "L&apos;Aquila",
"LT": "Latina",
"LE": "Lecce",
"LC": "Lecco",
"LI": "Livorno",
"LO": "Lodi",
"LU": "Lucca",
"MC": "Macerata",
"MN": "Mantova",
"MS": "Massa-Carrara",
"MT": "Matera",
"ME": "Messina",
"MI": "Milano",
"MO": "Modena",
"MB": "Monza e della Brianza",
"NA": "Naple",
"NO": "Novare",
"NU": "Nuoro",
"OT": "Olbia-Tempio",
"OR": "Oristano",
"PD": "Padova",
"PA": "Palerme",
"PR": "Parme",
"PV": "Pavia",
"PG": "Perugia",
"PU": "Pesaro e Urbino",
"PE": "Pescara",
"PC": "Piacenza",
"PI": "Pise",
"PT": "Pistoia",
"PN": "Pordenone",
"PZ": "Potenza",
"PO": "Prato",
"RG": "Ragusa",
"RA": "Ravenne",
"RC": "Reggio Calabria",
"RE": "Reggio Emilia",
"RI": "Rieti",
"RN": "Rimini",
"RM": "Rome",
"RO": "Rovigo",
"SA": "Salerno",
"VS": "Medio Campidano",
"SS": "Sassari",
"SV": "Savona",
"SI": "Sienne",
"SR": "Siracusa",
"SO": "Sondrio",
"TA": "Taranto",
"TE": "Teramo",
"TR": "Terni",
"TO": "Torino",
"OG": "Ogliastra",
"TP": "Trapani",
"TN": "Trento",
"TV": "Tr&eacute;vise",
"TS": "Trieste",
"UD": "Udine",
"VA": "Varese",
"VE": "Venise",
"VB": "Verbano-Cusio-Ossola",
"VC": "Vercelli",
"VR": "V&eacute;rone",
"VV": "Vibo Valentia",
"VI": "Vicenza",
"VT": "Viterbo"
},
"IE": {
"CW": "Carlow",
"CN": "Cavan",
"CE": "Clare",
"CO": "Cork",
"DL": "Donegal",
"D": "Dublin",
"G": "Galway",
"KY": "Kerry",
"KE": "Kildare",
"KK": "Kilkenny",
"LS": "Laois",
"LM": "Leitrim",
"LK": "Limerick",
"LD": "Longford",
"LH": "Louth",
"MO": "Mayo",
"MH": "Meath",
"MN": "Monaghan",
"OY": "Offaly",
"RN": "Roscommon",
"SO": "Sligo",
"TA": "Tipperary",
"WD": "Waterford",
"WH": "Westmeath",
"WX": "Wexford",
"WW": "Wicklow"
},
"IN": {
"AP": "Andhra Pradesh",
"AR": "Arunachal Pradesh",
"AS": "Assam",
"BR": "Bihar",
"CT": "Chhattisgarh",
"GA": "Goa",
"GJ": "Gujarat",
"HR": "Haryana",
"HP": "Himachal Pradesh",
"JK": "Jammu-et-Cachemire",
"JH": "Jharkhand",
"KA": "Karnataka",
"KL": "Kerala",
"MP": "Madhya Pradesh",
"MH": "Maharashtra",
"MN": "Manipur",
"ML": "Meghalaya",
"MZ": "Mizoram",
"NL": "Nagaland",
"OR": "Orissa",
"PB": "Punjab",
"RJ": "Rajasthan",
"SK": "Sikkim",
"TN": "Tamil Nadu",
"TS": "T\u00e9langana",
"TR": "Tripura",
"UK": "Uttarakhand",
"UP": "Uttar Pradesh",
"WB": "Bengale-Occidental",
"AN": "\u00celes Andaman-et-Nicobar",
"CH": "Chandigarh",
"DN": "Dadra et Nagar Haveli",
"DD": "Daman et Diu",
"DL": "Delhi",
"LD": "Lakshadeep",
"PY": "Pondich\u00e9ry (Puducherry)"
},
"ES": {
"C": "A Coru&ntilde;a",
"VI": "Araba\/&Aacute;lava",
"AB": "Albacete",
"A": "Alicante",
"AL": "Almer&iacute;a",
"O": "Asturias",
"AV": "&Aacute;vila",
"BA": "Badajoz",
"PM": "Baleares",
"B": "Barcelona",
"BU": "Burgos",
"CC": "C&aacute;ceres",
"CA": "C&aacute;diz",
"S": "Cantabria",
"CS": "Castell&oacute;n",
"CE": "Ceuta",
"CR": "Ciudad Real",
"CO": "C&oacute;rdoba",
"CU": "Cuenca",
"GI": "Girona",
"GR": "Granada",
"GU": "Guadalajara",
"SS": "Gipuzkoa",
"H": "Huelva",
"HU": "Huesca",
"J": "Ja&eacute;n",
"LO": "La Rioja",
"GC": "Las Palmas",
"LE": "Le&oacute;n",
"L": "Lleida",
"LU": "Lugo",
"M": "Madrid",
"MA": "M&aacute;laga",
"ML": "Melilla",
"MU": "Murcia",
"NA": "Navarra",
"OR": "Ourense",
"P": "Palencia",
"PO": "Pontevedra",
"SA": "Salamanca",
"TF": "Santa Cruz de Tenerife",
"SG": "Segovia",
"SE": "Seville",
"SO": "Soria",
"T": "Tarragona",
"TE": "Teruel",
"TO": "Toledo",
"V": "Valence",
"VA": "Valladolid",
"BI": "Bizkaia",
"ZA": "Zamora",
"Z": "Zaragoza"
},
"CN": {
"CN1": "Yunnan \/ &#20113;&#21335;",
"CN2": "Beijing \/ &#21271;&#20140;",
"CN3": "Tianjin \/ &#22825;&#27941;",
"CN4": "Hebei \/ &#27827;&#21271;",
"CN5": "Shanxi \/ &#23665;&#35199;",
"CN6": "Inner Mongolia \/ &#20839;&#33945;&#21476;",
"CN7": "Liaoning \/ &#36797;&#23425;",
"CN8": "Jilin \/ &#21513;&#26519;",
"CN9": "Heilongjiang \/ &#40657;&#40857;&#27743;",
"CN10": "Shanghai \/ &#19978;&#28023;",
"CN11": "Jiangsu \/ &#27743;&#33487;",
"CN12": "Zhejiang \/ &#27993;&#27743;",
"CN13": "Anhui \/ &#23433;&#24509;",
"CN14": "Fujian \/ &#31119;&#24314;",
"CN15": "Jiangxi \/ &#27743;&#35199;",
"CN16": "Shandong \/ &#23665;&#19996;",
"CN17": "Henan \/ &#27827;&#21335;",
"CN18": "Hubei \/ &#28246;&#21271;",
"CN19": "Hunan \/ &#28246;&#21335;",
"CN20": "Guangdong \/ &#24191;&#19996;",
"CN21": "Guangxi Zhuang \/ &#24191;&#35199;&#22766;&#26063;",
"CN22": "Hainan \/ &#28023;&#21335;",
"CN23": "Chongqing \/ &#37325;&#24198;",
"CN24": "Sichuan \/ &#22235;&#24029;",
"CN25": "Guizhou \/ &#36149;&#24030;",
"CN26": "Shaanxi \/ &#38485;&#35199;",
"CN27": "Gansu \/ &#29976;&#32899;",
"CN28": "Qinghai \/ &#38738;&#28023;",
"CN29": "Ningxia Hui \/ &#23425;&#22799;",
"CN30": "Macau \/ &#28595;&#38376;",
"CN31": "Tibet \/ &#35199;&#34255;",
"CN32": "Xinjiang \/ &#26032;&#30086;"
},
"NZ": {
"NL": "Northland",
"AK": "Auckland",
"WA": "Waikato",
"BP": "Bay of Plenty",
"TK": "Taranaki",
"GI": "Gisborne",
"HB": "Hawke&rsquo;s Bay",
"MW": "Manawatu-Wanganui",
"WE": "Wellington",
"NS": "Nelson",
"MB": "Marlborough",
"TM": "Tasman",
"WC": "C\u00f4te Ouest",
"CT": "Canterbury",
"OT": "Otago",
"SL": "Southland"
},
"NP": {
"ILL": "Illam",
"JHA": "Jhapa",
"PAN": "Panchthar",
"TAP": "Taplejung",
"BHO": "Bhojpur",
"DKA": "Dhankuta",
"MOR": "Morang",
"SUN": "Sunsari",
"SAN": "Sankhuwa",
"TER": "Terhathum",
"KHO": "Khotang",
"OKH": "Okhaldhunga",
"SAP": "Saptari",
"SIR": "Siraha",
"SOL": "Solukhumbu",
"UDA": "Udayapur",
"DHA": "Dhanusa",
"DLK": "Dolakha",
"MOH": "Mohottari",
"RAM": "Ramechha",
"SAR": "Sarlahi",
"SIN": "Sindhuli",
"BHA": "Bhaktapur",
"DHD": "Dhading",
"KTM": "Kathmandu",
"KAV": "Kavrepalanchowk",
"LAL": "Lalitpur",
"NUW": "Nuwakot",
"RAS": "Rasuwa",
"SPC": "Sindhupalchowk",
"BAR": "Bara",
"CHI": "Chitwan",
"MAK": "Makwanpur",
"PAR": "Parsa",
"RAU": "Rautahat",
"GOR": "Gorkha",
"KAS": "Kaski",
"LAM": "Lamjung",
"MAN": "Manang",
"SYN": "Syangja",
"TAN": "Tanahun",
"BAG": "Baglung",
"PBT": "Parbat",
"MUS": "Mustang",
"MYG": "Myagdi",
"AGR": "Agrghakanchi",
"GUL": "Gulmi",
"KAP": "Kapilbastu",
"NAW": "Nawalparasi",
"PAL": "Palpa",
"RUP": "Rupandehi",
"DAN": "Dang",
"PYU": "Pyuthan",
"ROL": "Rolpha",
"RUK": "Rukum",
"SAL": "Salyan",
"BAN": "Banke",
"BDA": "Bardiya",
"DAI": "Dailekh",
"JAJ": "Jajarkot",
"SUR": "Surkhet",
"DOL": "Dolpa",
"HUM": "Humla",
"JUM": "Jumla",
"KAL": "Kalikot",
"MUG": "Mugu",
"ACH": "Achham",
"BJH": "Bajhang",
"BJU": "Bajura",
"DOT": "Doti",
"KAI": "Kailali",
"BAI": "Baitadi",
"DAD": "Dadeldhura",
"DAR": "Darchula",
"KAN": "Kanchanpur"
},
"BG": {
"BG-01": "Blagoevgrad",
"BG-02": "Burgas",
"BG-08": "Dobrich",
"BG-07": "Gabrovo",
"BG-26": "Haskovo",
"BG-09": "Kardzhali",
"BG-10": "Kyustendil",
"BG-11": "Lovech",
"BG-12": "Montana",
"BG-13": "Pazardzhik",
"BG-14": "Pernik",
"BG-15": "Pleven",
"BG-16": "Plovdiv",
"BG-17": "Razgrad",
"BG-18": "Ruse",
"BG-27": "Shumen",
"BG-19": "Silistra",
"BG-20": "Sliven",
"BG-21": "Smolyan",
"BG-23": "Sofia",
"BG-22": "Sofia-Grad",
"BG-24": "Stara Zagora",
"BG-25": "Targovishte",
"BG-03": "Varna",
"BG-04": "Veliko Tarnovo",
"BG-05": "Vidin",
"BG-06": "Vratsa",
"BG-28": "Yambol"
},
"TR": {
"TR01": "Adana",
"TR02": "Ad&#305;yaman",
"TR03": "Afyon",
"TR04": "A&#287;r&#305;",
"TR05": "Amasya",
"TR06": "Ankara",
"TR07": "Antalya",
"TR08": "Artvin",
"TR09": "Ayd&#305;n",
"TR10": "Bal&#305;kesir",
"TR11": "Bilecik",
"TR12": "Bing&#246;l",
"TR13": "Bitlis",
"TR14": "Bolu",
"TR15": "Burdur",
"TR16": "Bursa",
"TR17": "&#199;anakkale",
"TR18": "&#199;ank&#305;r&#305;",
"TR19": "&#199;orum",
"TR20": "Denizli",
"TR21": "Diyarbak&#305;r",
"TR22": "Edirne",
"TR23": "Elaz&#305;&#287;",
"TR24": "Erzincan",
"TR25": "Erzurum",
"TR26": "Eski&#351;ehir",
"TR27": "Gaziantep",
"TR28": "Giresun",
"TR29": "G&#252;m&#252;&#351;hane",
"TR30": "Hakkari",
"TR31": "Hatay",
"TR32": "Isparta",
"TR33": "&#304;&#231;el",
"TR34": "&#304;stanbul",
"TR35": "&#304;zmir",
"TR36": "Kars",
"TR37": "Kastamonu",
"TR38": "Kayseri",
"TR39": "K&#305;rklareli",
"TR40": "K&#305;r&#351;ehir",
"TR41": "Kocaeli",
"TR42": "Konya",
"TR43": "K&#252;tahya",
"TR44": "Malatya",
"TR45": "Manisa",
"TR46": "Kahramanmara&#351;",
"TR47": "Mardin",
"TR48": "Mu&#287;la",
"TR49": "Mu&#351;",
"TR50": "Nev&#351;ehir",
"TR51": "Ni&#287;de",
"TR52": "Ordu",
"TR53": "Rize",
"TR54": "Sakarya",
"TR55": "Samsun",
"TR56": "Siirt",
"TR57": "Sinop",
"TR58": "Sivas",
"TR59": "Tekirda&#287;",
"TR60": "Tokat",
"TR61": "Trabzon",
"TR62": "Tunceli",
"TR63": "&#350;anl&#305;urfa",
"TR64": "U&#351;ak",
"TR65": "Van",
"TR66": "Yozgat",
"TR67": "Zonguldak",
"TR68": "Aksaray",
"TR69": "Bayburt",
"TR70": "Karaman",
"TR71": "K&#305;r&#305;kkale",
"TR72": "Batman",
"TR73": "&#350;&#305;rnak",
"TR74": "Bart&#305;n",
"TR75": "Ardahan",
"TR76": "I&#287;d&#305;r",
"TR77": "Yalova",
"TR78": "Karab&#252;k",
"TR79": "Kilis",
"TR80": "Osmaniye",
"TR81": "D&#252;zce"
},
"AU": {
"ACT": "Australian Capital Territory",
"NSW": "New South Wales",
"NT": "Territoire du nord",
"QLD": "Queensland",
"SA": "Australie du Sud",
"TAS": "Tasmania",
"VIC": "Victoria",
"WA": "Australie de l'Ouest"
},
"IR": {
"KHZ": "Khuzestan  (\u062e\u0648\u0632\u0633\u062a\u0627\u0646)",
"THR": "Tehran  (\u062a\u0647\u0631\u0627\u0646)",
"ILM": "Ilaam (\u0627\u06cc\u0644\u0627\u0645)",
"BHR": "Bushehr (\u0628\u0648\u0634\u0647\u0631)",
"ADL": "Ardabil (\u0627\u0631\u062f\u0628\u06cc\u0644)",
"ESF": "Isfahan (\u0627\u0635\u0641\u0647\u0627\u0646)",
"YZD": "Yazd (\u06cc\u0632\u062f)",
"KRH": "Kermanshah (\u06a9\u0631\u0645\u0627\u0646\u0634\u0627\u0647)",
"KRN": "Kerman (\u06a9\u0631\u0645\u0627\u0646)",
"HDN": "Hamadan (\u0647\u0645\u062f\u0627\u0646)",
"GZN": "Ghazvin (\u0642\u0632\u0648\u06cc\u0646)",
"ZJN": "Zanjan (\u0632\u0646\u062c\u0627\u0646)",
"LRS": "Luristan (\u0644\u0631\u0633\u062a\u0627\u0646)",
"ABZ": "Alborz (\u0627\u0644\u0628\u0631\u0632)",
"EAZ": "East Azarbaijan (\u0622\u0630\u0631\u0628\u0627\u06cc\u062c\u0627\u0646 \u0634\u0631\u0642\u06cc)",
"WAZ": "West Azarbaijan (\u0622\u0630\u0631\u0628\u0627\u06cc\u062c\u0627\u0646 \u063a\u0631\u0628\u06cc)",
"CHB": "Chaharmahal and Bakhtiari (\u0686\u0647\u0627\u0631\u0645\u062d\u0627\u0644 \u0648 \u0628\u062e\u062a\u06cc\u0627\u0631\u06cc)",
"SKH": "South Khorasan (\u062e\u0631\u0627\u0633\u0627\u0646 \u062c\u0646\u0648\u0628\u06cc)",
"RKH": "Razavi Khorasan (\u062e\u0631\u0627\u0633\u0627\u0646 \u0631\u0636\u0648\u06cc)",
"NKH": "North Khorasan (\u062e\u0631\u0627\u0633\u0627\u0646 \u062c\u0646\u0648\u0628\u06cc)",
"SMN": "Semnan (\u0633\u0645\u0646\u0627\u0646)",
"FRS": "Fars (\u0641\u0627\u0631\u0633)",
"QHM": "Qom (\u0642\u0645)",
"KRD": "Kurdistan \/ \u06a9\u0631\u062f\u0633\u062a\u0627\u0646)",
"KBD": "Kohgiluyeh and BoyerAhmad (\u06a9\u0647\u06af\u06cc\u0644\u0648\u06cc\u06cc\u0647 \u0648 \u0628\u0648\u06cc\u0631\u0627\u062d\u0645\u062f)",
"GLS": "Golestan (\u06af\u0644\u0633\u062a\u0627\u0646)",
"GIL": "Gilan (\u06af\u06cc\u0644\u0627\u0646)",
"MZN": "Mazandaran (\u0645\u0627\u0632\u0646\u062f\u0631\u0627\u0646)",
"MKZ": "Markazi (\u0645\u0631\u06a9\u0632\u06cc)",
"HRZ": "Hormozgan (\u0647\u0631\u0645\u0632\u06af\u0627\u0646)",
"SBN": "Sistan and Baluchestan (\u0633\u06cc\u0633\u062a\u0627\u0646 \u0648 \u0628\u0644\u0648\u0686\u0633\u062a\u0627\u0646)"
},
"CA": {
"AB": "Alberta",
"BC": "British Columbia",
"MB": "Manitoba",
"NB": "Nouvelle Brunswick",
"NL": "Newfoundland et Labrador",
"NT": "Les territoires Nord-Ouest",
"NS": "Nova Scotia",
"NU": "Nunavut",
"ON": "Ontario",
"PE": "Ile Prince Edward",
"QC": "Quebec",
"SK": "Saskatchewan",
"YT": " Territoire Yukon"
},
"HU": {
"BK": "B\u00e1cs-Kiskun",
"BE": "B\u00e9k\u00e9s",
"BA": "Baranya",
"BZ": "Borsod-Aba\u00faj-Zempl\u00e9n",
"BU": "Budapest",
"CS": "Csongr\u00e1d",
"FE": "Fej\u00e9r",
"GS": "Gy\u0151r-Moson-Sopron",
"HB": "Hajd\u00fa-Bihar",
"HE": "Heves",
"JN": "J\u00e1sz-Nagykun-Szolnok",
"KE": "Kom\u00e1rom-Esztergom",
"NO": "N\u00f3gr\u00e1d",
"PE": "Pest",
"SO": "Somogy",
"SZ": "Szabolcs-Szatm\u00e1r-Bereg",
"TO": "Tolna",
"VA": "Vas",
"VE": "Veszpr\u00e9m",
"ZA": "Zala"
}
};
		</script>
		<script type='text/javascript' src='https://www.googletagmanager.com/gtag/js?id=UA-185701319-1' id='google_gtagjs-js' async></script>
		<script type='text/javascript' id='google_gtagjs-js-after'>
			window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('set', 'linker', {"domains": ["gate-news.com"]});
gtag("js", new Date());
gtag("set", "developer_id.dZTNiMT", true);
gtag("config", "UA-185701319-1", {"anonymize_ip": true});
		</script>
		<link rel="https://api.w.org/" href="https://gate-news.com/index.php/wp-json/"/>
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://gate-news.com/xmlrpc.php?rsd"/>
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://gate-news.com/wp-includes/wlwmanifest.xml"/>
		<meta name="generator" content="Site Kit by Google 1.47.0"/>
		<meta name="google-adsense-platform-account" content="ca-host-pub-2644536267352236">
		<meta name="google-adsense-platform-domain" content="sitekit.withgoogle.com">
		<script async="async" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7964037774243015" crossorigin="anonymous" type="text/javascript"></script>
		<link rel="icon" href="{{ asset('front/images/afri.jpg') }}" sizes="32x32"/>
		<link rel="icon" href="{{ asset('front/images/afri.jpg') }}" sizes="192x192"/>
		<link rel="apple-touch-icon" href="https://gate-news.com/wp-content/uploads/2020/12/GN-04-12.png') }}"/>
		<meta name="msapplication-TileImage" content="https://gate-news.com/wp-content/uploads/2020/12/GN-04-12.png') }}"/>
	</head>
</html>
