{% extends 'base.html.twig' %}

{% block title "GATE-News | " ~ post.postTitle %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('front/css/bootstrap.css') }}">

{% endblock %}

{% block body %}
	<div class="m-4">
		<div class="row">
			<div class="col-md-6">
				<h1><a class="text-danger" href="{{path('app_ia')}}">GATE-NEWS</a> : Dynamic Content</h1>
			</div>
			<div class="col-md-6">
				<input type="search" name="search" id="search" class="form-control" placeholder="Recherche ..."/>
			</div>

		</div>
		<div class="row">
			<div class="col-md-9 text-center">
						<div class="card p-3" style="border: none">
							<img class="card-img-top" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Image">
							<div class="card-body">
								<h1 class="card-title pt-4">
									{{ post.postTitle }}
								</h1>
                                    {% for category in post.categories %}
                                        <span class="badge badge-danger">{{category.categoryTitle}}</span>
                                    {% endfor %}
								<p class="card-text text-left">{{ post.postContent | raw }}</p>
							</div>
							<div class="card-footer">
								<span>
									Traduire en: 
									<span>
										<a href="{{ path('app_ia_read', { id: post.id }) }}?lang=fr">Français</a>
										|
										<a href="{{ path('app_ia_read', { id: post.id }) }}?lang=en" >Anglais</a>
										|
										<a href="{{ path('app_ia_read', { id: post.id }) }}?lang=pt" >Portuguese</a>
									</span>
								</span>
								
							</div>
							<hr>
						</div>
			</div>

			<div class="col-md-3">
				<h4 class="text-center">Articles Récentes</h4>
				<div class="row">
					{% for recentPost in recentPosts %}
						<div class="col-md-12">
							<h6>
								{{ loop.index }}
								-
								<a 
                                {% if recentPost.id == post.id %} class="text-danger" {% endif %}
                                
                                 href="{{ path('app_ia_read', {id: recentPost.id}) }}">{{recentPost.postTitle}}</a>
							</h6>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
{% endblock %}

